body {
    background-image: linear-gradient(89.9deg, rgba(208, 246, 255, 1) 0.1%, rgba(255, 237, 237, 1) 47.9%, rgba(255, 255, 231, 1) 100.2%);
}

.sp {
    background: -webkit-Linear-gradient(to left, #89dca2, #eaf2e7);
    background: Linear-gradient(to left, #89dca2, #eaf2e7);
}

.ps {
    background: -webkit-Linear-gradient(to left, #eaf2e7, #89dca2);
    background: Linear-gradient(to left, #eaf2e7, #89dca2);
}

.hd {
    display: none;
}

.bt {
    outline: 1px;
    color: black;
    padding: 15px 20px;
    width: 121.05;
    height: 56;
    border-radius: 5px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px TT;
}